# XXX: Must match versions in nominatim.spec
asyncpg==0.28.0
datrie==0.8.2
psycopg==3.1.10
PyICU==2.11
starlette==0.31.1
SQLAlchemy==2.0.20
uvicorn==0.23.2
# testing requirements
falcon==3.1.1
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pytidylib==0.3.2
